# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.0x07-unity-animation.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\User\Documents\GitHub\holbertonschool-unity\0x07-unity-animation\.idea\.idea.0x07-unity-animation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
